<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="ui-bootstrap-0.13.0.min.js"></script>
		<script type="text/javascript" src="ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script type="text/javascript" src="FrelloUpdated.js"></script>
		<style>
			.row { margin: 10px 0 10px 0; height: 38px; line-height: 38px; }
			.row > div { vertical-align: middle; }
			.header { margin-bottom: 20px; }
			.form-control { width: 300px; display: inline-block; margin-right: 10px; }
			#notification { position: absolute; right: 30px; top: 30px; width: 200px; height: 70px; font-size: 14px; border-radius: 10px; border: 1px solid #2e6da4; }
			.added { color: green; }
			.removed { color: red; }
			.edited { color: orange; }
			.error-notification { height: 50px; line-height: 50px; border-radius: 4px; padding-left: 10px; z-index: 2; }
		</style>
	</head>
	<body ng-app="frello">
		<div ng-controller="FrelloController" class="container">
			<h1>Frello</h1>
			<div class="header">
				<label>Task:</label>
				<input type="text" ng-model="task" class="form-control" />
				<input type="checkbox" ng-model="completed" />  <label for="completed">Completed</label>
				<button ng-click="frello.addTask(task, completed)" class="btn btn-primary">Dodaj task</button>
				<button ng-show="frello.todoListVisible" ng-click="frello.toogleTaskList()" class="btn btn-primary">Skrij task listo</button>
				<button ng-hide="frello.todoListVisible" ng-click="frello.toogleTaskList()" class="btn btn-primary">Prikaži task listo</button>
			</div>
			<div ng-show="frello.todoListVisible">
				<div class="well">
					<h3>Completed</h3>
					<div ng-repeat="item in frello.tasks | filter:{isCompleted:true}">
						<div class="row">
							<div class="col-md-4">
								{{ item.name }}
							</div>
							<div class="col-md-4">
								<input type="checkbox" ng-model="taskUncompleted" ng-change="frello.changeTaskState(item)" />  <label for="taskCompleted">Uncompleted</label>
							</div>
							<div class="col-md-4">
								<button ng-click="open(item)" class="btn"><img ng-src="img/edit.png" /></button>
								<button ng-click="frello.removeTask(item)" class="btn"><img ng-src="img/delete.png" /></button>
							</div>
						</div>
					</div>
				</div>
				<div class="well">
					<h3>Uncompleted</h3>
					<div ng-repeat="item in frello.tasks | filter:{isCompleted:false}">
						<div class="row">
							<div class="col-md-4">
								{{ item.name }}
							</div>
							<div class="col-md-4">
								<input type="checkbox" ng-model="taskCompleted" ng-change="frello.changeTaskState(item)" />  <label for="taskCompleted">Completed</label>
							</div>
							<div class="col-md-4">
								<button ng-click="open(item)" class="btn"><img ng-src="img/edit.png" /></button>
								<button ng-click="frello.removeTask(item)" class="btn"><img ng-src="img/delete.png" /></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="notification" class="well {{ frello.notification_class }}" ng-show="frello.showNotification">
				{{ status }}
			</div>
		    <script type="text/ng-template" id="modal.html">
		        <div class="modal-header">
		            <h3 class="modal-title">Urejanje taska</h3>
		        </div>
		        <div class="modal-body">
		        	<p class="error-notification bg-danger" ng-hide="TaskNameChanged">Task s tem imenom že obstaja!</p>
		        	<label>Task:</label>
					<input class="form-control" type="text" ng-model="editedTask" />
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" ng-click="Confirm()">Potrdi</button>
		            <button class="btn btn-default" ng-click="Cancel()">Prekliči</button>
		        </div>
		    </script>
		</div>
	</body>
</html>